body{
  background-color: #f7f7f7;
  }
.container-box{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: green; 
}
.container-box .content-container{
  background-color: goldenrod;
  height: 100%;
}
.container-box .nav-bar-box{
  background-color: greenyellow;
  /* height: 8vh; */
}
.container-box .side-bar-box{
  background-color: blue;
  overflow: hidden;
  white-space: nowrap;
  transition:.3s;
}
.container-box .side-bar-box .row:hover{
  filter:invert(1);
  cursor: pointer;
  transition:.5s;
}
.container-box .side-bar-box .row{
  flex-wrap: nowrap;
}
.container-box .side-bar-box .row a{
  color: black;
  text-decoration: none;
  display: contents;
}
.container-box .side-bar-box .row .icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-box .content-box{
  overflow: auto;
  background-color: red;
}
.bg-white {
  background: #F8F8F8 !important;
}
.bg-light {
  background: #ebebeb !important;
}
/* Statistique Cards */

.calc-card{
  padding: 15px 15px;
  margin: 20px 5px;
  border-radius: 7px;
  position: relative;
  background: #333;
  color: #F8F8F8;
}
.calc-icon{
  position: absolute;
  top: -15px;
  left: 0;
  border-radius: 50%;
  border: 0.6px solid #CCC;
  clip-path: circle;
  padding: 5px 9px;
  background: #f8f8f8;
  color: #333333;
  box-shadow: 2px 1px 10px #0005 inset !important;
}
.calc-sum{
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}
/* Dark Mode */
html.dark , html.dark img ,html.dark .navbar-brand ,html.dark .btn {
  filter : invert(1) !important;
  color:white;
}
html.dark #delete-btn , html.dark #update-icon{
  filter:invert(1);
}
*{
  box-shadow:none !important;
}
.shadow{
  border: .7px solid #9995;
  box-shadow: 0px 1px 20px #0001 !important;
}